<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Os meus pedidos</title>
</h:head>
<h:body>
	<h:form id="hi_logout" rendered="#{credenciais.autenticado}">
		<h:commandLink action="perfil">
			<h:graphicImage cache="false"
				url="/images/#{credenciais.usuarioLogueado.avatar}"  height="70px" width="70px" />
		</h:commandLink>
		<h:commandButton action="#{credenciais.logout()}" value="Logout" />
	</h:form>
	<h:form id="login" rendered="#{not credenciais.autenticado}">
		<h:panelGrid columns="2">
			<h:outputLabel value="Email" for="user" />
			<h:inputText id="user" value="#{credenciais.username}" />
			<h:outputLabel value="Password" for="pass" />
			<h:inputSecret id="pass" value="#{credenciais.password}" />
			<h:commandButton type="reset" value="Borrar" />
			<h:commandButton action="#{credenciais.autentica()}" value="Login" />
			<h:commandButton action="rexistro" value="Rexistrarse" />
		</h:panelGrid>
	</h:form>

	<br />


	<h:form>
		<h:commandButton action="#{userBacking.showCarro()}" value="Carro" />
	</h:form>
	<h:outputText value="#{userBacking.getNumArticulosCarro()} artículos" />
	<br />
	<h:form>
		<h:commandButton action="index" value="Seguir comprando" />
	</h:form>
	<h:panelGrid columns="2">
		<h:panelGroup>
			<h:form id="pedidos" rendered="#{credenciais.autenticado}">
				<h:dataTable id="listaPedidos" var="entry"
					value="#{userBacking.pedidos}">
					<f:facet name="header">
						<h:outputText value="OS MEUS PEDIDOS" />
					</f:facet>
					<h:column>
						<f:facet name="header">Número</f:facet>
						<h:commandLink value="#{entry.id}"
							action="#{userBacking.detallesPedido(entry.id)}" />
					</h:column>
					<h:column>
						<f:facet name="header">Data</f:facet>
						<h:outputText value="#{entry.data}">
							<f:convertDateTime pattern="dd-MM-yyyy HH:mm"
								type="localDateTime" />
						</h:outputText>
					</h:column>
				</h:dataTable>
			</h:form>
		</h:panelGroup>
		<h:panelGroup>
			<h:form id="detallesPedido"
				rendered="#{userBacking.detallesPedido and credenciais.autenticado}">
				<h:dataTable var="lineaDet"
					value="#{userBacking.pedidoAberto.lineasPedido}">
					<f:facet name="header">
						<h:outputText
							value="DETALLES PEDIDO #{userBacking.pedidoAberto.id}" />
					</f:facet>
					<h:column>
						<f:facet name="header">Unidades</f:facet>
						<h:outputText value="#{lineaDet.unidades}" />
					</h:column>
					<h:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{lineaDet.produto.nome}" />
					</h:column>
					<h:column>
						<f:facet name="header">Prezo</f:facet>
						<h:outputText value="#{lineaDet.produto.prezo} &euro;" />
					</h:column>
					<h:column>
						<f:facet name="header">Importe con IVA</f:facet>
						<h:outputText
							value="#{lineaDet.unidades*lineaDet.produto.prezo * (1+ (lineaDet.produto.iva/100))}">
							<f:convertNumber type="currency" currencySymbol="€"
								maxIntegerDigits="5" maxFractionDigits="2" groupingUsed="false" />
						</h:outputText>
					</h:column>
				</h:dataTable>
				<h:outputText
					value="Total: #{userBacking.pedidoAberto.getImporteConIva()} &euro;" />
			</h:form>
			<br />
		</h:panelGroup>

	</h:panelGrid>
</h:body>
</html>
