<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>Rexistro de usuario</title>
</h:head>
<h:body>

	<h:form id="rexistro"  enctype="multipart/form-data">
		<h:panelGrid columns="3">
			<h:outputLabel value="Nome" for="nome" />
			<h:inputText id="nome" value="#{credenciais.nome}" />
			<h:message for="nome" />
			<h:outputLabel value="Username (email)" for="user" />
			<h:inputText id="user" value="#{credenciais.username}" />
			<h:message for="user" />
			<h:outputLabel value="Password" for="pass" />
			<h:inputSecret id="pass" value="#{credenciais.password}" />
			<h:message for="pass" />
			<h:outputLabel value="Confirma password" for="confirmpass" />
			<h:inputSecret id="confirmpass"
				value="#{credenciais.confirmPassword}" />
			<h:message for="confirmpass" />
			<h:outputLabel value="Avatar" for="avatar" />
			<h:inputFile id="avatar" value="#{credenciais.avatar}"/>
			<h:message for="avatar" />
			<h:commandButton action="#{credenciais.rexistra()}" value="Rexistrar" />
			<h:panelGroup>
				<h:commandButton type="reset" value="Borrar" />
				<h:outputText value ="&nbsp;&nbsp;"/>
				<h:commandButton action="index" value="Loguearse" />
			</h:panelGroup>
			<h:commandButton action="index" value="Seguir comprando" />
		</h:panelGrid>
		<h:message for="rexistro" />
	</h:form>
</h:body>
</html>
